:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: rgb(200, 55, 51);
    --border-color: #dbdbdb;
    --star-gold-color: #FFCE3E;

    --header-height: 120px;
    --navbar-height: 34p;
    --header-with-search: calc(var(var(--header-height)) - var(var(--header-navbar)));
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}